/* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

body { position: relative; -webkit-text-size-adjust: 100%; font-family: 'Noto Sans TC', 'Arial', '\5FAE\8EDF\6B63\9ED1\9AD4', '\65B0\7D30\660E\9AD4', 'sans-serif'; color: #333; background-color: #fff; font-size: 16px; }

body * { box-sizing: border-box; }

h1 { font-size: 24px; font-weight: bold; line-height: 2; }

h3 { font-size: 18px; font-weight: bold; line-height: 2; margin-bottom: 0.5rem; }

main { position: relative; max-width: 960px; margin: 60px auto; padding: 0 16px; }

.col-1 { width: 8.333%; padding: 0 4px; }

.col-1:first-child { margin-left: -4px; }

.col-1:last-child { margin-right: -4px; }

.col-2 { width: 16.666%; padding: 0 4px; }

.col-2:first-child { margin-left: -4px; }

.col-2:last-child { margin-right: -4px; }

.col-3 { width: 25%; padding: 0 4px; }

.col-3:first-child { margin-left: -4px; }

.col-3:last-child { margin-right: -4px; }

.row { margin-top: 2rem; }

.form-row { display: flex; width: calc(100% + 8px); }

.form-group { position: relative; margin-bottom: 1rem; }

.form-label { display: block; margin-bottom: 0.5rem; font-size: 16px; }

.form-control { display: block; width: 100%; padding: 0.4375rem 0.75rem; font-size: 0.875rem; font-weight: 400; line-height: 1.4285714; color: #232e3c; background-color: #fff; background-clip: padding-box; border: 1px solid #dadcde; -webkit-appearance: none; -moz-appearance: none; appearance: none; border-radius: 4px; transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }

.form-control:focus { color: inherit; background-color: #fff; border-color: #90b5e2; outline: 0; box-shadow: 0 0 0 0.25rem #206bc440; }

table { margin: 0; width: 100%; border-collapse: collapse; }

table caption { line-height: 1.2; font-size: rem(20px); font-weight: bold; }

table th { color: #fff; background: #999; }

@media print { table th { color: #000; background: #fefefe; } }

table th, table td { padding: 4px 16px; text-align: center; line-height: 1.2; border: 1px solid #ccc; }

table.info th { text-align: right; }

table.info td { text-align: left; }

table.total td { text-align: right; }

.cooperation { margin-top: 60px; }

ol li { line-height: 1.2; }

.add-row { text-align: right; }

#total-price { text-align: right; }

#total-price::before { content: '$'; display: inline-block; }

.font-bold { font-weight: bold; }

.text-left { text-align: left; }

.bg-sec { background: #efefef; }

textarea { resize: none; }

.submit { display: inline-block; padding: 4px 8px; color: #fff; border-radius: 4px; background-color: #159; }

.icon-add { cursor: pointer; box-sizing: border-box; position: relative; display: inline-block; width: 22px; height: 22px; border: 2px solid; border-radius: 22px; }

.icon-add::after, .icon-add::before { content: ''; display: block; box-sizing: border-box; position: absolute; width: 10px; height: 2px; background: currentColor; border-radius: 5px; top: 8px; left: 4px; }

.icon-add::after { width: 2px; height: 10px; top: 4px; left: 8px; }

.icon-del { box-sizing: border-box; position: relative; display: block; width: 22px; height: 22px; border: 2px solid; border-radius: 22px; }

.icon-del::after, .icon-del::before { content: ''; display: block; box-sizing: border-box; position: absolute; width: 10px; height: 2px; background: currentColor; border-radius: 5px; top: 8px; left: 4px; }

.icon-del--fix { top: 30px; cursor: pointer; }
