<div class="flex justify-center items-center flex-col mt-8">
  <p class="mb-4">若您覺得這個產生器對您有幫助，歡迎請我喝杯飲料，您的許願會更快成真 😊</p>
  <style data-styled="true" data-styled-version="5.3.3">
    .eDynhg {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 164px;
      height: 40px;
      padding: 8px 16px;
      -webkit-backdrop-filter: blur(20px);
      backdrop-filter: blur(20px);
      border-radius: 12px;
      color: white;
      -webkit-text-decoration: none !important;
      text-decoration: none !important;
    } /*!sc*/
    .eDynhg:hover {
      -webkit-text-decoration: none !important;
      text-decoration: none !important;
    } /*!sc*/
    data-styled.g160[id='sc-1ykasxb-0'] {
      content: 'eDynhg,';
    } /*!sc*/
  </style>
  <a
    style="background-color: #ad5138; color: #f8e0be; border: none"
    href="https://mtwmt.bobaboba.me"
    target="_blank"
    class="sc-1ykasxb-0 eDynhg"
    (click)="onDonateClick()"
  >
    <img
      height="100%"
      src="https://s3.ap-southeast-1.amazonaws.com/media.anyonelab.com/images/boba/boba-embed-icon.png"
      alt="boba-icon"
    />
    <div style="flex: 1; text-align: center">請我喝珍奶！</div>
  </a>
</div>
