<div class="card">
  <div class="card-body">
    <ul class="timeline">
      @for (log of changelog; track $index) {
      <li class="timeline-event">
        <div class="timeline-event-icon bg-primary-lt">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>

            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
            <path d="M12 10m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
            <path d="M12 14l0 .01"></path>
          </svg>
        </div>
        <div
          class="card timeline-event-card"
          [ngClass]="$index === 0 ? 'border-primary shadow-sm' : ''"
        >
          <div class="card-body">
            <div class="d-flex align-items-center gap-2 mb-2">
              <strong class="text-dark">{{ log.date }}</strong>
              @if ($index === 0) {
              <span class="badge text-white bg-primary">最新</span>
              }
            </div>
            <ul
              class="mb-0"
              [ngClass]="$index === 0 ? 'text-dark' : 'text-secondary'"
            >
              @for (feature of log.features; track $index) {
              <li>{{ feature }}</li>
              }
            </ul>
          </div>
        </div>
      </li>
      }
    </ul>
  </div>
</div>
