<div class="card bg-base-100 shadow-sm">
  <div class="card-body">
    <div class="relative">
      @for (log of changelog; track $index) {
        <div class="flex gap-4 relative">
          <!-- 時間軸線條和圖示 -->
          <div class="flex flex-col items-center">
            <div class="p-3 rounded-lg bg-info/10 z-10">
              <lucide-icon [img]="Clock" [size]="20" class="text-info" />
            </div>
            @if (!$last) {
              <div class="w-px h-full bg-base-300 my-2"></div>
            }
          </div>

          <!-- 內容區 -->
          <div
            class="flex-1 border shadow rounded-lg p-4 mb-3"
            [ngClass]="$index === 0 ? 'border-info' : 'border-primary'"
          >
            <div class="flex items-center gap-2 mb-2">
              <strong class="text-base-content">{{ log.date }}</strong>
              @if ($index === 0) {
                <span class="badge rounded text-white bg-sky-600"
                  >最新</span
                >
              }

            </div>
            <ul class="text-base-content/70">
              @for (feature of log.features; track $index) {
                <li>{{ feature }}</li>
              }
            </ul>
          </div>
        </div>
      }
    </div>
  </div>
</div>
