<div class="page">
  <div class="page-wrapper">
    <div class="container">
      <div class="page-header">
        <div class="row align-items-center mw-100">
          <div class="col">
            <h1>報價單產生器</h1>
          </div>
          <div class="col-auto">
            <iframe
              src="https://ghbtns.com/github-btn.html?user=mtwmt&repo=price-generator&type=star&count=true"
              frameborder="0"
              scrolling="0"
              width="90"
              height="20"
              title="GitHub"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="page-body">
      <div class="container">
        <form id="form" [formGroup]="form">
          <div class="card">
            <div class="card-body">
              <h3 class="text-muted">主要資料</h3>

              <div class="mb-3">
                <label class="form-label">客戶 LOGO</label>
                <input
                  formControlName="logo"
                  type="file"
                  class="form-control"
                  name="logo"
                  placeholder=""
                  accept="image/gif, image/jpeg, image/png"
                  (change)="onLogoChange($any($event).target.files)"
                />
              </div>

              <div class="mb-3">
                <div class="row">
                  <div class="col-md-6 col-sm-12 mb-3 mb-md-0">
                    <label class="form-label required">客戶名稱</label>
                    <input
                      formControlName="company"
                      type="text"
                      class="form-control"
                      [ngClass]="form.get('company')?.touched && form.get('company')?.errors?.['required'] ? 'is-invalid': ''"
                      name="company"
                      placeholder="請輸入客戶名稱"
                    />
                    <div class="invalid-feedback">請輸入業主名稱</div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <label class="form-label">統一編號</label>
                    <input
                      formControlName="customerTaxID"
                      type="number"
                      class="form-control"
                      name="customerTaxID"
                      placeholder="請輸入統一編號"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="card-body">
              <div class="mb-3">
                <div class="row">
                  <div class="col-md-6 col-sm-12 mb-3 mb-md-0">
                    <label class="form-label required">報價人員</label>
                    <input
                      formControlName="quoterName"
                      type="text"
                      class="form-control"
                      [ngClass]="form.get('quoterName')?.touched && form.get('quoterName')?.errors?.['required'] ? 'is-invalid': ''"
                      name="quoterName"
                      placeholder="請輸入報價人員"
                    />
                    <div class="invalid-feedback">請輸入報價人員</div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <label class="form-label">統一編號</label>
                    <input
                      formControlName="quoterTaxID"
                      type="number"
                      class="form-control"
                      name="quoterTaxID"
                      placeholder="請輸入統一編號"
                    />
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <div class="row">
                  <div class="col-md-6 col-sm-12 mb-3 mb-md-0">
                    <label class="form-label required">Email</label>
                    <input
                      formControlName="email"
                      type="email"
                      class="form-control"
                      [ngClass]="form.get('email')?.touched && form.get('email')?.errors?.['required'] ? 'is-invalid': ''"
                      name="email"
                      placeholder="請輸入電子信箱"
                    />
                    <div class="invalid-feedback">請輸入電子信箱</div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <label class="form-label">聯絡電話</label>
                    <input
                      formControlName="tel"
                      type="tel"
                      class="form-control"
                      name="tel"
                      placeholder="請輸入聯絡電話"
                    />
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <div class="row">
                  <div class="col-md-6 col-sm-12 mb-3 mb-md-0">
                    <label class="form-label">報價日期</label>
                    <div class="input-icon">
                      <span class="input-icon-addon">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path
                            stroke="none"
                            d="M0 0h24v24H0z"
                            fill="none"
                          ></path>
                          <rect
                            x="4"
                            y="5"
                            width="16"
                            height="16"
                            rx="2"
                          ></rect>
                          <line x1="16" y1="3" x2="16" y2="7"></line>
                          <line x1="8" y1="3" x2="8" y2="7"></line>
                          <line x1="4" y1="11" x2="20" y2="11"></line>
                          <line x1="11" y1="15" x2="12" y2="15"></line>
                          <line x1="12" y1="15" x2="12" y2="18"></line>
                        </svg>
                      </span>
                      <input
                        #startDate
                        formControlName="startDate"
                        class="form-control"
                        placeholder="報價日期"
                        name="startDate"
                        id="startDate"
                        autocomplete="off"
                      />
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <label class="form-label">有效日期</label>
                    <div class="input-icon">
                      <span class="input-icon-addon">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path
                            stroke="none"
                            d="M0 0h24v24H0z"
                            fill="none"
                          ></path>
                          <rect
                            x="4"
                            y="5"
                            width="16"
                            height="16"
                            rx="2"
                          ></rect>
                          <line x1="16" y1="3" x2="16" y2="7"></line>
                          <line x1="8" y1="3" x2="8" y2="7"></line>
                          <line x1="4" y1="11" x2="20" y2="11"></line>
                          <line x1="11" y1="15" x2="12" y2="15"></line>
                          <line x1="12" y1="15" x2="12" y2="18"></line>
                        </svg>
                      </span>
                      <input
                        formControlName="endDate"
                        class="form-control"
                        placeholder="------"
                        name="endDate"
                        id="endDate"
                        autocomplete="off"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-body">
              <div class="row mb-1">
                <h3 class="col text-muted">服務項目</h3>
                <div class="col-auto ms-auto">
                  <button
                    type="button"
                    class="btn btn-sm btn-primary"
                    (click)="onAddField($event)"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-playlist-add"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M19 8h-14"></path>
                      <path d="M5 12h9"></path>
                      <path d="M11 16h-6"></path>
                      <path d="M15 16h6"></path>
                      <path d="M18 13v6"></path>
                    </svg>
                    新增項目
                  </button>
                </div>
              </div>
              <ng-container
                formArrayName="serviceItems"
                *ngFor="let control of serviceItems.controls; let idx = index"
              >
                <app-service-item-control
                  [formControlName]="idx"
                  (removeField)="onRemoveField(idx)"
                />
              </ng-container>
              <div class="mb-3 row">
                <div class="col-auto ms-auto fs-3">
                  未稅價 合計：NT$
                  <span class="fs-2 fw-bold text-danger" id="excluding-tax">{{
                    form.get("excludingTax")?.value || 0
                  }}</span>
                  元整
                </div>
              </div>
            </div>

            <!--  -->
            <div class="card-body">
              <div class="row mb-1">
                <h3 class="col text-muted">稅率</h3>
              </div>
              <div data-texRate>
                <div data-tex class="row align-items-center g-2 mb-4 mb-md-2">
                  <div class="col-12 col-md">
                    <input
                      formControlName="taxName"
                      type="text"
                      class="form-control"
                      name="taxName"
                      placeholder="稅別"
                    />
                  </div>
                  <div class="col">
                    <div class="d-flex align-items-center">
                      <input
                        formControlName="percentage"
                        type="number"
                        class="form-control mr-2"
                        name="percentage"
                        placeholder="稅率"
                      />
                      <span class="d-inline-block">%</span>
                    </div>
                  </div>
                  <div class="col">
                    <input
                      formControlName="tax"
                      type="number"
                      class="form-control"
                      name="tax"
                      value="0"
                      placeholder="金額"
                    />
                  </div>
                </div>
              </div>
              <div class="mb-3 row">
                <div class="col-auto ms-auto fs-3">
                  含稅價 合計：NT$
                  <span class="fs-2 fw-bold text-danger" id="including-tax">{{
                    form.get("includingTax")?.value || 0
                  }}</span>
                  元整
                </div>
              </div>
            </div>
            <!--  -->

            <div class="card-body">
              <div class="mb-3">
                <label class="form-label">備註</label>
                <textarea
                  formControlName="desc"
                  class="form-control"
                  name="desc"
                  rows="3"
                  placeholder="Content.."
                  style="resize: none"
                ></textarea>
              </div>
              <label class="form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  formControlName="isSign"
                />
                <span class="form-check-label">是否顯示簽章欄位</span>
              </label>
            </div>
            <div class="card-footer">
              <div class="row align-items-center">
                <div class="col-auto ms-auto btn-list">
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="onPreview()"
                  >
                    預覽
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary"
                    [disabled]="!form.valid || !form.dirty"
                    (click)="onSubmit()"
                  >
                    送出
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <app-comments />
      </div>
    </div>
    <footer class="footer footer-transparent d-print-none">
      <div class="container-xl">
        <div class="row text-center align-items-center">
          <ul class="list-inline list-inline-dots mb-0">
            <li class="list-inline-item">
              Copyright © 2022
              <a href="https://mtwmt.com/" target="_blank">Mandy</a>. All rights
              reserved.
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</div>
