<!-- 服務項目（響應式佈局） -->
<div
  class="flex flex-wrap md:flex-nowrap gap-x-2 items-center bg-base-100 "
  [formGroup]="formGroup()"
>
  <div class="flex gap-2 w-full md:w-1/2">
    <!-- 類別 -->
    <fieldset class="fieldset w-1/2 md:flex-1">
      <input
        formControlName="category"
        type="text"
        class="input"
        placeholder="類別"
      />
    </fieldset>
    <!-- 項目 -->
    <fieldset class="fieldset w-1/2 md:flex-1">
      <input
        formControlName="item"
        type="text"
        class="input"
        [ngClass]="
          formGroup().get('item')?.touched &&
          formGroup().get('item')?.errors?.['required']
            ? 'input-error'
            : ''
        "
        placeholder="項目"
      />
      @if (
        formGroup().get('item')?.touched &&
        formGroup().get('item')?.errors?.['required']
      ) {
        <p class="text-error">項目名稱不得為空</p>
      }
    </fieldset>
  </div>
  <div class="flex gap-2 w-full md:w-1/2">
    <!-- 單價 -->
    <fieldset class="fieldset flex-1">
      <input
        formControlName="price"
        type="number"
        class="input"
        [class.input-error]="
          formGroup().get('price')?.touched &&
          formGroup().get('price')?.errors?.['required']
        "
        placeholder="單價"
        min="0"
        (input)="onInput($event, 'price')"
      />
    </fieldset>
    <!-- 數量 -->
    <fieldset class="fieldset flex-1">
      <input
        formControlName="count"
        type="number"
        class="input"
        placeholder="1"
        (input)="onInput($event, 'count')"
      />
    </fieldset>
    <!-- 單位 -->
    <fieldset class="fieldset flex-1">
      <input
        formControlName="unit"
        type="text"
        class="input"
        placeholder="單位"
      />
    </fieldset>
    <!-- 金額 -->
    <fieldset class="fieldset flex-1">
      <input
        formControlName="amount"
        type="number"
        class="input font-bold"
        placeholder="0"
        readonly
      />
    </fieldset>
    <!-- 操作 -->
    <fieldset class="fieldset">
      <button
        type="button"
        class="btn input btn-outline btn-square shrink-0 cursor-pointer"
        (click)="onRemoveField($event)"
        title="刪除"
      >
        <lucide-icon [img]="Trash2" [size]="18" />
      </button>
    </fieldset>
  </div>
</div>
