<!-- 服務項目 -->
<div class="card bg-base-100 shadow-sm mb-4" [formGroup]="form()">
  <div class="card-body p-4 md:p-4">
    <div class="flex items-center justify-between mb-3">
      <div class="flex items-center gap-3">
        <div
          class="flex items-center justify-center w-12 h-12 rounded-full bg-base-200"
        >
          <svg
            lucideShoppingCart
            width="20"
            height="20"
            class="text-base-content/70"
          />
        </div>
        <h2 class="text-lg font-semibold text-base-content">服務項目</h2>
      </div>
      <button type="button" class="btn btn-info btn-sm" (click)="onAddField()">
        <svg lucideListPlus width="16" height="16" />
        <span class="inline">新增項目</span>
      </button>
    </div>

    <!-- 服務項目列表 -->
    <div cdkDropList (cdkDropListDropped)="onDrop($event)">
      <ng-container formArrayName="serviceItems">
        @for (item of serviceItems.controls; track $index; let idx = $index) {
          <div
            cdkDrag
            [cdkDragDisabled]="serviceItems.length <= 1"
            class="group relative"
            [ngClass]=""
          >
            <!-- 服務項目 -->
            <div class="flex min-w-0 items-start gap-2">
              @if (serviceItems.length > 1) {
                <!-- Drag Handle -->
                <div
                  cdkDragHandle
                  class="w-5 shrink-0 cursor-move opacity-30 transition-opacity duration-200 touch-none hover:opacity-100"
                  title="拖曳排序"
                >
                  <svg
                    lucideGripVertical
                    width="20"
                    height="20"
                    class="text-base-content"
                  />
                </div>
              }

              <!-- 服務項目元件 -->
              <div class="min-w-0 flex-1">
                <app-service-item-control
                  [formGroup]="$any(item)"
                  [index]="idx"
                  (removeField)="onRemoveField(idx)"
                  (copyField)="onCopyField(idx)"
                />
                <hr
                  class="my-2 border-secondary md:hidden"
                  [class.hidden]="$last"
                />
                <!-- <div class="divider h-[1px] my-2"></div> -->
              </div>
            </div>
          </div>
        }
      </ng-container>
    </div>

    <!-- 嵌入計價設定 -->
    <ng-content></ng-content>
  </div>
</div>
