<div id="contentToConvert">
  <div class="modal-header py-2">
    <div class="modal-status bg-info"></div>
    <div class="d-flex align-items-center">
      <div *ngIf="!!logo">
        <img
          [src]="logo"
          [alt]="data.company"
          style="margin-right: 8px; height: 40px"
        />
      </div>
      <div>
        <h4 class="modal-title fs-2 fw-bolder">{{ data.company }} - 報價單</h4>
        <span *ngIf="data.customerTaxID"
          >統一編號：{{ data.customerTaxID }}</span
        >
      </div>
    </div>

    <button
      *ngIf="!isPrint"
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <dl class="row">
      <dt class="col-3">報價公司/人員：</dt>
      <dd class="col-9">{{ data.quoterName }}</dd>
      <ng-container *ngIf="data.quoterTaxID">
        <dt class="col-3">統一編號：</dt>
        <dd class="col-9">{{ data.quoterTaxID }}</dd>
      </ng-container>
      <ng-container *ngIf="data.tel">
        <dt class="col-3">聯絡電話：</dt>
        <dd class="col-9">{{ data.tel }}</dd>
      </ng-container>
      <dt class="col-3">E-Mail：</dt>
      <dd class="col-9">{{ data.email }}</dd>
      <ng-container *ngIf="data.endDate; else noEndDate">
        <dt class="col-3">報價日期：</dt>
        <dd class="col-9">{{ data.startDate }}</dd>
        <dt class="col-3">有效日期：</dt>
        <dd class="col-9">{{ data.endDate }}</dd>
      </ng-container>
      <ng-template #noEndDate>
        <dt class="col-3">報價日期：</dt>
        <dd class="col-9">{{ data.startDate }}</dd>
      </ng-template>
    </dl>
    <div class="card">
      <div class="table-responsive">
        <table class="table table-vcenter">
          <thead>
            <tr>
              <th>類別</th>
              <th>項目</th>
              <th>單價</th>
              <th>數量</th>
              <th class="text-end">金額</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of data.serviceItems">
              <tr>
                <td class="text-left">{{ item.category }}</td>
                <td class="text-left">{{ item.item }}</td>
                <td>{{ item.price }}</td>
                <td>
                  {{ item.count }}
                  {{ !!item.unit ? "/" : "" }}
                  {{ item.unit }}
                </td>
                <td class="text-end price">NT$ {{ item.amount }}</td>
              </tr>
            </ng-container>
            <tr>
              <td colspan="5" class="text-end">
                未稅：NT$
                <span class="fs-2 fw-bold text-danger">
                  {{ data.excludingTax || 0 }}
                </span>
                元整

                <ng-container *ngIf="data.tax !== 0">
                  <br />
                  {{ data.taxName }}稅 {{ data.percentage }}%
                  <span class="fs-2 fw-bold text-danger">{{ data.tax }}</span>
                  元
                  <br />
                  含稅：NT$
                  <span class="fs-2 fw-bold text-danger">{{
                    data.includingTax || 0
                  }}</span>
                  元整
                </ng-container>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="table table-vcenter" *ngIf="data.desc">
          <thead>
            <tr>
              <th>備註</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="whitespace-pre-line">{{ data.desc }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="card card-sm mt-4" style="height: 120px" *ngIf="data.isSign">
      <div class="card-body">
        <h3 class="card-title">客戶簽章</h3>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer" *ngIf="!isPreview">
  <button type="button" class="btn btn-primary" (click)="onExportImage()">
    匯出圖片
  </button>
  <button type="button" class="btn btn-primary" (click)="onExportPdf()">
    下載為 PDF
  </button>
</div>
